big{
    visibility: visible;
}
big nav{
    background-color: rgb(121, 115, 115);
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
big nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
big nav ul li{
    margin: 0 10px;
}
big nav ul li a{
    display: inline-block;
}
big nav ul li a button{
    color: white;
    background-color: rgb(100, 97, 97);
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    margin: auto;
}
big nav ul li a button:hover{
    border-color: rgb(196, 31, 234);
}
big nav ul li img{
    border-radius: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(121, 115, 115);
    color: white;
    border-radius: 15px;
    text-align: center;
}
small{
    visibility: collapse;
}
@media screen and (max-width: 700px){
    big{
        visibility: collapse;
    }
    .burger-menu {
        display: block;
    }
    small{
        visibility: visible;
        display: none;
    }
}